@font-face{
  font-family: 'Monaco';
  src: url('https://github.com/floyd-creative-contact/aseprite-blockbench-theme/raw/main/fonts/monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dogica';
  src: url('https://github.com/floyd-creative-contact/aseprite-blockbench-theme/raw/main/fonts/dogica.ttf');
}
@font-face {
  font-family: 'Dogica';
  src: url('https://github.com/floyd-creative-contact/aseprite-blockbench-theme/raw/main/fonts/dogicabold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Dogica Pixel';
  src: url('https://github.com/floyd-creative-contact/aseprite-blockbench-theme/raw/main/fonts/dogicapixel.ttf');
}
@font-face {
  font-family: 'Dogica Pixel';
  src: url('https://github.com/floyd-creative-contact/aseprite-blockbench-theme/raw/main/fonts/dogicapixelbold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Aseprite Lookalike';
  src: url('https://github.com/floyd-creative-contact/aseprite-blockbench-theme/raw/main/fonts/aseprite-ui-lookalike.ttf');
  font-weight: bold;
}