@font-face{
  font-family: 'Monaco';
  src: url('https://cdn.rawgit.com/floyd-creative-contact/aseprite-blockbench-theme/blob/main/monaco.ttf') format:('truetype');
  font-weight: 100;
  font-style: normal;
}
